body {
    background-color: #F2C068;
    color:#376BA6;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Source Sans Pro";
    text-align:center;
}


 h1 {
    font-size: 40pt;
}



header {
    text-align: center;
}

#hero {
    text-align: center;
}
/* Hero Section */
#hero img {
    width: 450px;
}
/* Bio Section */
#bio {
    text-align: center;
}

#footer {
    text-align: left;
}
/* Hobby Section */
#hobbies ul li {
    color:#376BA6;
    border: 2px solid #376BA6;
    margin-bottom:1rem;
}

/*Gallery*/
#gallery {
    border: 3px solid #376BA6;
    margin-bottom:2rem
}

#gallery img {
    max-width:100%;
}

#gallery figure {
    text-align: center;
}

/*Literature*/
#lit {
    border:3px solid #376BA6;
}


